{
    "plugins": ["@babel/plugin-proposal-class-properties"],
    "presets": ["@babel/preset-react"],
    "env": {
        "test": {
            "plugins": ["@babel/plugin-transform-modules-commonjs"]
        }
    }
}
